* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 overflow: hidden;
}
.return{
  position: absolute;
}
.container {
  flex-wrap: wrap;
  overflow: hidden;
  background: url("https://lp-cms-production.imgix.net/features/2013/04/sunrise1_cs.jpg?auto=format&w=1440&h=810&fit=crop&q=75");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  min-width: 120px;
}

.container span::before {
  content: "";
  position: absolute;
  background-image: url("https://4kwallpapers.com/images/wallpapers/moon-aesthetic-5120x2880-12004.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.container span:hover::before {
  opacity: 1;
  transition: 0s;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.container span.permanent::before {
  opacity: 1;
  border-radius: 20px;
}
